html, body, .bg {
    height: 100%;
    margin: 0;
}
body {
    background: #fff none repeat scroll 0 0;
    color: #69606b;
    font-family: "Raleway",Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    overflow-x: hidden;
}
.bg {
    margin: 0 auto;
    min-height: 560px;
    position: relative;
    width: 100%;
}
#content .bg {
    position: absolute;
}
#content .bg-img::before {
    background-color: rgba(79, 77, 77, 0.44);
    height: 100%;
    width: 100%;
}
#content .bg-img::after {
    background: #fff none repeat scroll 0 0;
    height: 100%;
    right: 0;
    top: 0;
    transform: translateX(100%);
    width: 60%;
}
.bg-img {
    backface-visibility: hidden;
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
}

.bg-img img {
    display: block;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 0;
}
#content .bg-img img {
    left: auto;
    right: 0;
}
.content-left {
    margin-left: 30%;
    padding: 2em 1em;
    position: relative;
    width: 70%;
    height: 100%;
    background: #fff;
}
hr {
    background-color: transparent;
    border-top: 2px dashed #8c8b8b;
    margin: 18px 0;
}
.containers {
    margin: 0 auto 1.5em 0.8em;
    max-width: 90%;
    padding: 0 1.25em;
}

.media{
    display:flex;
    display: -webkit-flex; /* Safari */
    -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
    flex-wrap: wrap;
    flex-direction: row;
}
.media-item{
    width:320px;
    margin: 0 20px;
}
.media-item > .foto {
    width:320px; height:320px;
}
.media-item > .box-image {
    float: left;
    height: 320px;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 1;
}
.media-item p{
    
}
.media-item .galeria-user {
    font-weight: bold; margin-top:5px;
}